doctype html
html
    head
        title LoginAdmin
    body
        form(method='POST', action='/admin/login')
            input(type='text', name='login')
            input(type='password', name='password')
            input(type='submit')
